body {
        background-color: #03a406;
        background-image: url("background.jpeg");
        background-repeat: none;
        background-size: cover;
        overflow-y: scroll;
        /*For other browsers*/
        -ms-overflow-style: none;
        scrollbar-width: none; 
}
body::-webkit-scrollbar {
        display: none;
}
.bar {
        background-color: rgb(0, 0, 0, 0.6);
        padding: 20px;
        margin-left: -8px;
        margin-top: -8px;
        height: 20px;
        width: 100%;
        position: fixed;
        text-align: center;
}
.header {
        backgroud-color: rgb(0,0,0,0.6);
        color: white;
        text-align: center;
        text-decoration-line: none;
        padding: 15px;
        border-style: none solid none none;
        border-width: 2px;
        border-color: white;
        margin-left: -3px;
        transition: 1s all ease;
}
.header:hover {
        background-color: rgb(0,0,0,1);
        transition: 1s all ease;
}
.inner {
        text-align: center;
        color: white;
}
h1 {
        text-align: center;
        color: white;
}
.bar2 {
        background-color: rgb(0, 0, 0, 0.6);
        padding: 10px;
        margin-bottom: -48px;
        margin-right: -8px;
        margin-left: -8px;
}
.footlinks {
        color: white;
}
